body {
  background-color: #fff;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  line-height: 18px;
}
div {
  font-family: 'Ubuntu', sans-serif;
}
p, ol, ul, td {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12.36px;
  line-height: 20px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 32.36px;
}

.h1, h1 {
    font-size: 32.36px;
}

.table {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
  }
}

#notice {
  color: green;
  font-family: 'Ubuntu', sans-serif;
}

.field_with_errors {
  padding: 2px;
  background-color: #a94442;
  display: table;
  font-family: 'Ubuntu', sans-serif;
}

#error_explanation {
  color: #a94442;
  font-family: 'Ubuntu', sans-serif;
  ul {
    color: #a94442;
    margin: 0 0 30px;
  }
  ul li {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
  }
}
